<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (submit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="emai" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Send Reset Link</ion-button>
  </form>

  <ion-text color="success" *ngIf="message">{{message}}</ion-text>
  <ion-text color="danger" *ngIf="error">{{error}}</ion-text>
</ion-content>
