<ion-header [translucent]="true" id="assetHeader">
  <ion-toolbar>
    <ion-title style="font-size: 1.6em;">Client Assets</ion-title>    
    <ion-button [routerLink]="['/fsi-profile', username]" fill="clear" color="secondary" slot="end" size="large">Home</ion-button>
    <div class="dropdown" slot="end">
      <ion-button class="dropbtn" color="secondary" size="large" fill="clear">More</ion-button>
      <div class="dropdown-options">
        <ion-button (click)="openForm()" fill="clear" color="secondary" slot="end" >Add an account</ion-button>
        <ion-button fill="clear" color="secondary" slot="end"  routerLink="/client-asset-overview/{{username}}" id="printerBtn">Asset overview</ion-button>
        <ion-button fill="clear" color="secondary" slot="end"  routerLink="/client-request-update" id="printerBtn">Request
          update</ion-button>
      </div>
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="printableSection">

  <h1>Spend</h1>
  <ion-grid *ngFor="let a of userAsset">
    <ion-row>
      <ion-col *ngIf="a.type === '1' || a.type === '2'" [ngClass]="{'with-fsi': a.assetName === 'Yes', 'without-fsi': a.assetName !== 'Yes'}">
        <ul>
          <li>
            <h5> <strong>Custodian: </strong>{{a.custodian}} | <strong>Account #: </strong>{{a.accountNumber}} |
              <strong>Rate of Return: </strong>{{a.rateOfReturn}}% | <strong>Tax Structure: </strong> {{a.taxStructure}}
              |
              <strong>Valuation Date: </strong> {{a.valuationDate}} | <strong>Maturity date: </strong>
              {{a.maturityDate}} |
              <strong>Balance: </strong> ${{a.balance | number: '1.2-2'}} | <strong>Type: </strong> {{types[a.type!] || "invalid key"}}
            </h5>
          </li>

        </ul>

        <ion-button fill="clear" color="secondary" [routerLink]="['/client-edit-asset', a.assetId]" id="edit"><strong>Edit account</strong></ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteAsset(a.assetId!)" id="delete"><strong>Delete account</strong></ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
  <h1 >Save</h1>
  <ion-grid *ngFor="let a of userAsset">
    <ion-row>
      <ion-col *ngIf="a.type === '3' || a.type === '4' || a.type === '5' || a.type === '6'" [ngClass]="{'with-fsi': a.assetName === 'Yes' || a.assetName === 'yes', 'without-fsi': a.assetName !== 'Yes'}">
        <ul>
          <li>
            <h5> <strong>Custodian: </strong>{{a.custodian}} | <strong>Account #: </strong>{{a.accountNumber}} |
              <strong>Rate of Return: </strong>{{a.rateOfReturn}}% | <strong>Tax Structure: </strong> {{a.taxStructure}}
              |
              <strong>Valuation Date: </strong> {{a.valuationDate}} | <strong>Maturity date: </strong>
              {{a.maturityDate}} |
              <strong>Balance: </strong> ${{a.balance | number: '1.2-2'}} | <strong>Type: </strong> {{types[a.type!] || "invalid key"}}
            </h5>
          </li>

        </ul>
        <ion-button fill="clear" color="secondary" [routerLink]="['/client-edit-asset', a.assetId]" id="edit"><strong>Edit account</strong></ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteAsset(a.assetId!)" id="delete"><strong>Delete account</strong></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 >Invest</h1>
  <ion-grid *ngFor="let a of userAsset">
    <ion-row>
      <ion-col *ngIf="a.type === '7' || a.type === '8' || a.type === '9' || a.type === '10' || a.type === '11' || a.type === '12'" [ngClass]="{'with-fsi': a.assetName === 'Yes' || 'yes', 'without-fsi': a.assetName !== 'Yes'}">
        <ul>
          <li>
            <h5> <strong>Custodian: </strong>{{a.custodian}} | <strong>Account #: </strong>{{a.accountNumber}} |
              <strong>Rate of Return: </strong>{{a.rateOfReturn}}% | <strong>Tax Structure: </strong> {{a.taxStructure}}
              |
              <strong>Valuation Date: </strong> {{a.valuationDate}} | <strong>Maturity date: </strong>
              {{a.maturityDate}} |
              <strong>Balance: </strong> ${{a.balance | number: '1.2-2'}} | <strong>Type: </strong> {{types[a.type!] || "invalid key"}}
            </h5>
          </li>

        </ul>
        <ion-button fill="clear" color="secondary" [routerLink]="['/client-edit-asset', a.assetId]" id="edit"><strong>Edit account</strong></ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteAsset(a.assetId!)" id="delete"><strong>Delete account</strong></ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <!--Adding account-->
  <div *ngIf="isFormVisible" id="inputForm">
    <form #form="ngForm" (ngSubmit)="createAsset()">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <label>Custodian</label><br>
            <input type="text" name="custodian" placeholder="Required" [(ngModel)]="newAsset.custodian"
              required="true"><br>
            <label>Account number</label><br>
            <input type="text" name="accountNumber" placeholder="Required" [(ngModel)]="newAsset.accountNumber"
              required="true"><br>
            <label>With FSI(Yes or No)</label><br>
            <input type="text" name="assetName" placeholder="Required" [(ngModel)]="newAsset.assetName"><br>
          </ion-col>
          <ion-col size="3">
            <label>Rate of return </label><br>
            <input type="text" name="rateOfReturn" [(ngModel)]="newAsset.rateOfReturn"><br>
            <label>Tax Structure</label><br>
            <input type="text" name="taxStructure" [(ngModel)]="newAsset.taxStructure"><br>
            <label>Balance</label><br>
            <input type="text" name="balance" placeholder="Required" [(ngModel)]="newAsset.balance" required="true"><br>
          </ion-col>
          <ion-col size="3">
            <h4>Types to categorize your accounts</h4>
            <ul>
              <li> Type: 1 | Category: Checking</li>
              <li> Type: 2 | Category: Currency</li>
              <li> Type: 3 | Category: Savings</li>
              <li> Type: 4 | Category: CDs</li>
              <li> Type: 5 | Category: Health and Medical Savings</li>
              <li> Type: 6 | Category: Life Insurance</li>
              <li> Type: 7 | Category: Annuities</li>
              <li> Type: 8 | Category: Investments</li>
              <li> Type: 9 | Category: IRAs</li>
              <li> Type: 10 | Category: Roth IRA</li>
              <li> Type: 11 | Category: Employer Retirement Plans</li>
            </ul>
          </ion-col>
          <ion-col size="3">
            <ul>
              <li> Type: 12 | Category: Bullion</li>
              <li> Type: 13 | Category: Primary Residence</li>
              <li> Type: 14 | Category: Secondary Residence</li>
              <li> Type: 15 | Category: Real Estate</li>
              <li> Type: 16 | Category: Business</li>
              <li> Type: 17 | Category: Trust</li>
              <li> Type: 18 | Category: Vehicles</li>
              <li> Type: 19 | Category: Personal Property</li>
              <li> Type: 20 | Category: Credit Cards</li>
              <li> Type: 21 | Category: Student Loans</li>
              <li> Type: 22 | Category: Other</li>
            </ul>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <label>Valuation Date</label><br>
            <input type="text" name="valuationDate" [(ngModel)]="newAsset.valuationDate"><br>
            <label>Maturity Date</label><br>
            <input type="text" name="maturityDate" [(ngModel)]="newAsset.maturityDate"><br>
          </ion-col>
          <ion-col size="3">

            <label>Type</label><br>
            <input type="text" name="type" placeholder="Required" [(ngModel)]="newAsset.type" required="true"
              (ngModelChange)="getTypeValue()"><br>
            <label>Bucket</label><br>
            <input type="text" name="bucket" placeholder="Required" [(ngModel)]="newAsset.bucket" required="true"><br>
          </ion-col>
          <ion-col size="3">
            <h4>Buckets</h4>
            <ul>
              <li>1: Insured Growth & Income</li>
              <li>2: Liquid Cash</li>
              <li>3: Uninsured Growth & Income</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>


      <input hidden="true" type="text" name="username" [(ngModel)]="newAsset.username">
      <input hidden="true" type="text" name="notesId" [(ngModel)]="newAsset.assetId">
      <input hidden="true" type="text" name="userId" [(ngModel)]="newAsset.userId">


      <ion-button type="submit" fill="clear" color="secondary">
        Create account
      </ion-button>
      <ion-button (click)="closeForm()" fill="clear" color="secondary">Cancel</ion-button>
    </form>
  </div>
  <ion-button (click)="printAssets()" id="printerBtn" color="secondary" style="padding: 10px;">Print</ion-button>

</ion-content>
