<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="secondary">Requesting update</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <h3>Please include your name, email, and a message of any updates to your accounts.</h3>
  </div>
  <div style="text-align: center;">
    <form class="contact-form" (submit)="sendEmail($event)">
    <label>Name</label><br>
    <input type="text" name="user_name"><br>
    <label>Email</label><br>
    <input type="email" name="user_email"><br>
    <label>Message</label><br>
    <textarea name="message"></textarea><br>
    <input type="submit" value="Send">
  </form>
  </div>
  
</ion-content>
