<ion-header [translucent]="true" id="balanceHeader">
  <ion-toolbar>
    <ion-title style="font-size: 1.6em;">Client Balances</ion-title>
    <ion-button fill="clear" color="secondary" slot="end" routerLink="/fsi-profile/{{username}}" size="large">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Type</h1>
      </ion-col>
      <ion-col>
        <h1>Category</h1>
      </ion-col>
      <ion-col>
        <h1>Asset</h1>
      </ion-col>
      <ion-col>
        <h1>Liability</h1>
      </ion-col>
      <ion-col>
        <h1>Net Worth</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of combinedBalance">
      <ion-col>{{ item.type }}</ion-col>
      <ion-col>{{catergories[item.type]}}</ion-col>
      <ion-col>${{ item.assetBalance | number: '1.2-2'}}</ion-col>
      <ion-col>${{ item.liabilityBalance | number: '1.2-2'}}</ion-col>
      <ion-col>${{ item.netWorth | number: '1.2-2'}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="printAssets()" id="printerBtn" color="secondary" style="padding: 10px;">Print</ion-button>
</ion-content>
