<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Demographics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Demographics</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>{{presentUser.firstName}} {{presentUser.lastName}}</h1>
  <ion-list>
    <ion-item *ngFor="let d of userDemographics">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Address: {{d.address}}</p>
          </ion-col>
          <ion-col>
            <p>DOB: {{d.birthday}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Driver's License: {{d.driversLicense}}</p>
          </ion-col>
          <ion-col>
            <p>Issued: {{d.issueDate}} | Expires: {{d.expirationDate}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Gender: {{d.gender}}</p>
          </ion-col>
          <ion-col>
            <p>Marital Status: {{d.maritalStatus}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Employer: {{d.employer}}</p>
          </ion-col>
          <ion-col>
            <p>Occupation: {{d.occupation}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Work Phone: {{d.workPhone}}</p>
          </ion-col>
          <ion-col>
            <p>Personal Phone & Email: {{d.phoneNumber}} | {{d.email}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

  </ion-list>
  <ion-button (click)="openForm()">Enter in demographic</ion-button>
  <div *ngIf="isFormVisible" id="inputForm">
    <form #form="ngForm" (ngSubmit)="createDemographic()">
      <input hidden="true" type="text" name="username" [(ngModel)]="demographic.username">
      <input hidden="true" type="text" name="demographicsId" [(ngModel)]="demographic.demographicsId">
      <input type="text" name="socialSecurity" placeholder="Enter social" [(ngModel)]="demographic.socialSecurity">
      <input type="text" name="driversLicense" placeholder="Enter drivers license"
        [(ngModel)]="demographic.driversLicense">
      <input type="text" name="issueDate" placeholder="Drivers license issue date" [(ngModel)]="demographic.issueDate">
      <input type="text" name="expirationDate" placeholder="Drivers license expiration date"
        [(ngModel)]="demographic.expirationDate">
      <input type="text" name="gender" placeholder="Enter gender" [(ngModel)]="demographic.gender">
      <input type="text" name="maritalStatus" placeholder="Enter marital status" [(ngModel)]="demographic.maritalStatus">
      <input type="text" name="employer" placeholder="Enter employer" [(ngModel)]="demographic.employer">
      <input type="text" name="occupation" placeholder="Enter occupation" [(ngModel)]="demographic.occupation">
      <input type="text" name="workPhone" placeholder="Enter work phone" [(ngModel)]="demographic.workPhone">
      <input type="text" name="address" placeholder="Enter address" [(ngModel)]="demographic.address">
      <input type="text" name="phoneNumber" placeholder="Enter phone number" [(ngModel)]="demographic.phoneNumber">
      <input type="text" name="email" placeholder="Enter email" [(ngModel)]="demographic.email">
      <input type="text" name="birthday" placeholder="Enter birthday" [(ngModel)]="demographic.birthday">
      <ion-button type="submit">
        Create demographics
      </ion-button>
      <ion-button (click)="closeForm()">Cancel</ion-button>
  
    </form>
  </div>
</ion-content>