<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/home" slot="end" fill="clear" color="secondary">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Demographics</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>{{presentUser.firstName}} {{presentUser.lastName}}</h1>
  <ion-list>
    <ion-item *ngFor="let d of userDemographics">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Spouse: {{d.spouse}}</p>
          </ion-col>
          <ion-col>
            <p>Children: {{d.c1}} | {{d.c2}} | {{d.c3}} | {{d.c4}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Address: {{d.address}}</p>
          </ion-col>
          <ion-col>
            <p>DOB: {{d.birthday}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Driver's License: {{d.driversLicense}} | Social: {{d.socialSecurity}}</p>
          </ion-col>
          <ion-col>
            <p>Issued: {{d.issueDate}} | Expires: {{d.expirationDate}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Gender: {{d.gender}}</p>
          </ion-col>
          <ion-col>
            <p>Marital Status: {{d.maritalStatus}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Employer: {{d.employer}}</p>
          </ion-col>
          <ion-col>
            <p>Occupation: {{d.occupation}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Work Phone: {{d.workPhone}}</p>
          </ion-col>
          <ion-col>
            <p>Personal Phone & Email: {{d.phoneNumber}} | {{d.email}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button *ngIf="none" [routerLink]="['/edit-demographics', d.demographicsId]" fill="clear" color="secondary" >Edit {{presentUser.firstName}}'s demographics</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!--Adding demographics-->
  <ion-button (click)="openForm()" *ngIf="!input">Enter in demographic</ion-button>
  <div *ngIf="isFormVisible" id="inputForm">
    <form #form="ngForm" (ngSubmit)="createDemographic()">
      <input hidden="true" type="text" name="username" [(ngModel)]="demographic.username">
      <input hidden="true" type="text" name="demographicsId" [(ngModel)]="demographic.demographicsId">
      <input name="spouse" placeholder="Enter spouse, if applicable" [(ngModel)]="demographic.spouse">
      <input name="c1" placeholder="Enter child, if applicable" [(ngModel)]="demographic.c1">
      <input name="c2" placeholder="Enter child, if applicable" [(ngModel)]="demographic.c2">
      <input name="c3" placeholder="Enter child, if applicable" [(ngModel)]="demographic.c3">
      <input name="c4" placeholder="Enter child, if applicable" [(ngModel)]="demographic.c4">
      <input name="socialSecurity" placeholder="Enter social" [(ngModel)]="demographic.socialSecurity">
      <input name="driversLicense" placeholder="Enter drivers license"
        [(ngModel)]="demographic.driversLicense">
      <input name="issueDate" placeholder="Drivers license issue date" [(ngModel)]="demographic.issueDate">
      <input name="expirationDate" placeholder="Drivers license expiration date"
        [(ngModel)]="demographic.expirationDate">
      <input name="gender" placeholder="Enter gender" [(ngModel)]="demographic.gender">
      <input name="maritalStatus" placeholder="Enter marital status" [(ngModel)]="demographic.maritalStatus">
      <input name="employer" placeholder="Enter employer" [(ngModel)]="demographic.employer">
      <input name="occupation" placeholder="Enter occupation" [(ngModel)]="demographic.occupation">
      <input name="workPhone" placeholder="Enter work phone" [(ngModel)]="demographic.workPhone">
      <input name="address" placeholder="Enter address" [(ngModel)]="demographic.address">
      <input name="phoneNumber" placeholder="Enter phone number" [(ngModel)]="demographic.phoneNumber">
      <input name="email" placeholder="Enter email" [(ngModel)]="demographic.email">
      <input name="birthday" placeholder="Enter birthday" [(ngModel)]="demographic.birthday">
      <ion-button type="submit" fill="clear" color="secondary">
        Create demographics
      </ion-button>
      <ion-button (click)="closeForm()">Cancel</ion-button>
    </form>
  </div>

</ion-content>