* {
    font-family: Felix Titling;
}

h1 {
    margin-left: 10px;
    text-decoration: underline;
    font-size: 2.3em;
}

p {
    margin-left: 10px;
}

.with-fsi{
    color: blue;
}

.without-fsi{
    color: red;
}
@media print {
    #help{
        padding-top: 45px;
    }
    h1{
        font-size: 1.5em;
    }
    h5{
        font-size: 1em;
    }
    #globalHeader {
        display: none;
    }
    ion-button{
        display: none;
    }

    #printerBtn{
        visibility: hidden;
    }

    body * {
        visibility: hidden;
    }


    #printableSection,
    #printableSection * {
        visibility: visible;
    }

    #printableSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}



#inputForm {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 1350px;
    height: 530px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100 !important;
}

input {
    padding: 10px;
    margin: 5px;
    width: auto;
}

.label-container {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip-box {
  visibility: hidden;
  width: 220px;
  background-color: #f0f0f0;
  color: #333;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 100%; /* show below the label */
  left: 0;
  margin-top: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-size: 13px;
}

.label-container:hover .tooltip-box {
  visibility: visible;
}