<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Create new user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>   
    <form #form="ngForm" (ngSubmit)="signUp()">
      <ion-item class="formItem">
        <ion-input type="text" label="First name" labelPlacement="floating" placeholder="Enter first name" name="firstname" [(ngModel)]="newUser.firstName"></ion-input>
      </ion-item>

      <ion-item class="formItem">
        <ion-input type="lastName" name="lastname" label="Last name" labelPlacement="floating" placeholder="Enter last name" [(ngModel)]="newUser.lastName"></ion-input>
      </ion-item>

      <ion-item class="formItem">
        <ion-input type="text" label="Username" name="userName"labelPlacement="floating" placeholder="Enter Email" [(ngModel)]="newUser.username"></ion-input>
      </ion-item>

      <ion-item class="formItem">
        <ion-input type="text" label="Password" name="password"labelPlacement="floating" placeholder="Enter password" [(ngModel)]="newUser.password"></ion-input>
      </ion-item>
      <ion-item class="formItem">
        <ion-input type="text" label="Role" name="role"labelPlacement="floating" placeholder="Enter role" [(ngModel)]="newUser.role"></ion-input>
      </ion-item>
      <!-- <ion-item class="formItem">
        <ion-input  type="text" label="Profile Picture" name="profilePicture"  labelPlacement="floating" placeholder="Insert a photo of yourself" [(ngModel)]="newUser.profilePicture"></ion-input>
      </ion-item> -->

  
      <div>
        <ion-button class="formItem" fill="clear" color="secondary" type="submit">Sign Up</ion-button>
        <ion-button fill="clear" color="secondary" routerLink="/login">Login</ion-button>
      </div>
    </form>
  </ion-list>

  <h3 style="padding-left: 10px;">Roles and permissions:</h3>
  <ul>
    <li>GeneralAdmin: allowed to <i>Search</i> for users and <i>Edit</i> their own profiles.</li>
    <li>SuperUser: allowed to <i>Search</i>, <i>Create</i>, and <i>Edit</i> users.</li>
    <li>User: none</li>
  </ul>
</ion-content>
