<ion-header [translucent]="true">
  <ion-toolbar id="headerTool">
    <ion-title>FSI Client Profile</ion-title>
    <ion-button [routerLink]="['/client-demographics', presentUser.userName]" fill="clear" slot="end">More about {{presentUser.firstName}}</ion-button>
    <ion-button routerLink="/search-users" fill="clear" slot="end">Back to search</ion-button>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col sizeXl="2" sizeLg="3" sizeMd="4" sizeSm="5" sizeXs="12">
        <div class="avatar-container">
          <div class="image-container" 
               [ngStyle]="{ backgroundImage: 'url(' + (profilePic || '../../../assets/img/profileSymbol.png') + ')' }">
          </div>
        </div>
      </ion-col>
      <ion-col sizeXl="10" sizeLg="9" sizeMd="8" sizeSm="7" sizeXs="12">
        <!--current user information-->
        <div id="info">
          <h1 id="header">{{presentUser.firstName}} {{presentUser.lastName}}</h1>      
         </div>
         <ion-button fill="clear" color="secondary" [routerLink]="['/client-edit-user', presentUser.userId]">Edit
          {{presentUser.firstName}}'s profile</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar style="padding-top: 20px;">
    <ion-segment>
      <ion-segment-button [routerLink]="['/client-balance', presentUser.userName]">
        <ion-label>Balance</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/client-buckets', presentUser.userName]">
        <ion-label>Buckets</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/client-asset', presentUser.userName]">
        <ion-label> Assets</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/client-liability', presentUser.userName]">
        <ion-label> Liabilities</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/client-life', presentUser.userName]">
        <ion-label> Life</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/client-pc', presentUser.userName]">
        <ion-label> P&C</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Disability Ins</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/client-notes', presentUser.userName]">
        <ion-label> Notes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <img src="../../../../assets/img/FSILogo.jpg" style="width: 840px;">
  </div>
</ion-content>
