*{
  font-family: Felix Titling;
}
#profilePic{
    height: 175px;
    width: 190px;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  #header{
    padding-top: 70px;
  }
  
  @media (max-width: 575px) {
    #header{
      padding-top: 10px;
    }
    #info{
      text-align: center;
    }
  
    #pic{
      text-align: center;
    }
  }
  ion-button{
    --color:white;
  }
  #headerTool {
    --background: #022562;
    --color: white;
    --min-height: 70px;
    --padding-top: 15px;
    --padding-bottom: 15px;
  }