<ion-header [translucent]="true" id="printerBtn">
  <ion-toolbar>
    <ion-title>Client Asset Overview</ion-title>
    <ion-button routerLink="/client-asset/" slot="end" fill="clear" id="home" size="large" color="secondary">Back</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="printableSection">
    <div>
      <div class="chart"><canvas id="pie-chart"></canvas></div>    

    </div>  
  </div>      
  <ion-button (click)="printOverview()" id="printerBtn" color="secondary" size="large" fill="clear">Print</ion-button>
</ion-content>
