<ion-header>
  <ion-toolbar id="headerTool">
    <ion-title slot="start">Financial Strategies Inc.</ion-title>
    <ion-button fill="clear" slot="end" [routerLink]="['/demographics', presentUser.userName]">
      More about {{presentUser.firstName}}
    </ion-button> 
    <ion-button *ngIf="presentUser.userName == 'isaacm@mutualmail.com'" fill="clear" slot="end" routerLink="/signup">Create new account</ion-button> 
    <ion-button *ngIf="presentUser.userName == 'isaacm@mutualmail.com'" fill="clear" slot="end" routerLink="/search-users">Search users</ion-button> 

    <ion-button *ngIf="!isAuthenticated" [routerLink]="['/login']" fill="clear" slot="end">
      Log in 
    </ion-button>
    <ion-button *ngIf="isAuthenticated" (click)="logout()" fill="clear" slot="end">
      Log out 
    </ion-button>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col sizeXl="2" sizeLg="3" sizeMd="4" sizeSm="5" sizeXs="12">
        <div id="pic">
          <img src="../../../assets/img/profileSymbol.png" id="profilePic">
        </div>
        
        <!-- <div class="avatar-container">
          <div class="image-container" 
          [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
          </div>
      
          <label for="avatar-input-file">
              <div class="icon-wrapper">
                  <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" [(ngModel)]="presentUser.profilePicture" name="profilePicture"/>
                  <ion-icon name="create-outline"></ion-icon>
              </div>
          </label>
      </div>  -->
      </ion-col>
      <ion-col sizeXl="10" sizeLg="9" sizeMd="8" sizeSm="7" sizeXs="12">
        <!--current user information-->
        <div id="info">
          <h1 id="header">{{presentUser.firstName}} {{presentUser.lastName}}</h1>      
         </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar style="padding-top: 20px;">
    <ion-segment>
      <ion-segment-button>
        <ion-label>Balance</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/buckets/{{presentUser.userName}}">
        <ion-label>Buckets</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/asset/{{presentUser.userName}}">
        <ion-label> Assets</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Liabilities</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Life</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/pc/{{presentUser.userName}}">
        <ion-label> P&C</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Disability Ins</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/notes/{{presentUser.userName}}">
        <ion-label> Notes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <router-outlet></router-outlet>
</ion-content>