<ion-header id="globalHeader" [translucent]="true">
  <ion-toolbar id="headerTool">
    <ion-title slot="start">Financial Strategies Inc.</ion-title>
    <div class="dropdown" slot="end" >
      <button class="dropbtn">FSI USERS</button>
      <div class="dropdown-options">
        <a routerLink="/signup" *ngIf="myAuthService.getRole() === 'SuperUser'">New account</a>
        <a routerLink="/search-users" *ngIf="myAuthService.getRole() === 'SuperUser'">Search users</a>
        <a routerLink="/search-users" *ngIf="myAuthService.getRole() === 'GeneralAdmin'">Search users</a>
      </div>
    </div>
    <ion-button fill="clear" slot="end"  [routerLink]="['/demographics', presentUser.username]">
      More about {{presentUser.firstName}}
    </ion-button>
    <ion-button *ngIf="isAuthenticated" [routerLink]="['/login']" fill="clear" slot="end">
      Log in
    </ion-button>
    <ion-button *ngIf="!isAuthenticated" (click)="logout()" fill="clear" slot="end">
      Log out
    </ion-button>
  </ion-toolbar>
  <ion-grid>

    <ion-row>
      <ion-col sizeXl="2" sizeLg="3" sizeMd="4" sizeSm="5" sizeXs="12">
        <div class="avatar-container">
          <div class="image-container"
            [ngStyle]="{ backgroundImage: 'url(' + (profilePic || '../../../assets/img/profileSymbol.png') + ')' }">
          </div>

          <label for="avatar-input-file">
            <div class="icon-wrapper">
              <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
              <ion-icon id="icon" name="create-outline"></ion-icon>
            </div>
          </label>
        </div>

      </ion-col>
      <ion-col sizeXl="10" sizeLg="9" sizeMd="8" sizeSm="7" sizeXs="12">

        <!--current user information-->
        <div id="info">
          
          <h1 id="header">{{presentUser.firstName}} {{presentUser.lastName}}</h1>
          <ion-toolbar>
          <ion-button fill="clear" color="secondary" [routerLink]="['/edit-user', presentUser.username]" *ngIf="myAuthService.getRole() === 'GeneralAdmin' || 'SuperUser'">Edit
            {{presentUser.firstName}}'s profile</ion-button>
            <ion-button href="https://www.msa.bank/secure-file-upload/" fill="clear" color="secondary">Upload Document</ion-button>
            <!-- <div class="dropdown">
              <button>FSI Users</button>
              <div class="dropdown-options">
                <a routerLink="/signup">Create new account</a>
                <a routerLink="/search-users">Search users</a>
              </div>
            </div> -->
            <!-- <div class="dropdown" slot="end">
            <ion-button class="dropbtn" fill="clear" color="secondary">FSI USERS</ion-button>
            <div class="dropdown-content">
              <a routerLink="/signup">Create new account</a>
              <a routerLink="/search-users">Search users</a>
            </div>
          </div>   -->
          </ion-toolbar>
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar style="padding-top: 20px;">
    <ion-segment>
      <ion-segment-button routerLink="/home/balance">
        <ion-label>Balance</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/buckets">
        <ion-label>Buckets</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/asset">
        <ion-label> Assets</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/liabilities">
        <ion-label> Liabilities</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/life">
        <ion-label> Life</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/pc">
        <ion-label> P&C</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/disabilityins">
        <ion-label> Disability Ins</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/home/notes">
        <ion-label> Notes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <router-outlet></router-outlet>
</ion-content>