*{
  font-family: Felix Titling;
}
#profilePic{
  height: 175px;
  width: 190px;
  margin-left: 20px;
  margin-top: 40px;
}

#header{
  padding-top: 90px;
}
@media print{
  #globalHeader{
    display: none;
  }
}
@media (max-width: 575px) {
  #header{
    padding-top: 10px;
  }
  #info{
    text-align: center;
  }

  #pic{
    text-align: center;
  }
}
ion-button{
  --color:white;

}
#headerTool {
  --background: #022562;
  --color: white;
  --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.avatar-container {
  position: relative;
  width: fit-content;
}

.image-container {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 1px 2px 2px #022562;
}
.icon-wrapper {
  label {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  input[type='file'] {
      display: none;
  }
}

.icon-wrapper {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: .35rem;
  background-color:#022562;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 75%;
  z-index: 2;
  cursor: pointer;

  &:hover {
      transition: all .25s;
      background-color: darken(#2962FF, 15%);
  }

  #icon{
      color: white;
  }

  label {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  input[type='file'] {
      display: none;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #022562;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-flex;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #219ebc;}