<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
          <img src="../../../assets/img/profileSymbol.png" id="profilePic">

      </ion-col>
      <ion-col>
        <!--current user information-->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar style="padding-top: 20px;">
    <ion-segment>
      <ion-segment-button>
        <ion-label>Balance</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Buckets</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Assets</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Liabilities</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Life</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> P&C</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Disability Ins</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label> Notes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-router-outlet></ion-router-outlet>
</ion-content>