<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit liability</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form #form="ngForm" (ngSubmit)="onSubmit()" id="inputForm">
          <ion-grid>
            <ion-row>
              <ion-col >
                <label><strong>Type: </strong>{{currentLiability.type}}</label><br>
                <input type="text" name="type" [(ngModel)]="currentLiability.type"><br><br>
                <label><strong>Description: </strong>{{currentLiability.description}}</label><br>
                <input type="text" name="description" [(ngModel)]="currentLiability.description"><br><br>
                <label><strong>Balance: </strong>{{currentLiability.balance | number: '1.2-2'}}</label><br>
                <input type="text" name="balance" [(ngModel)]="currentLiability.balance"><br><br>
                <label><strong>Rate: </strong>{{currentLiability.rate}}</label><br>
                <input type="text" name="rate" [(ngModel)]="currentLiability.rate"><br><br>
                <label><strong>Payment: </strong>{{currentLiability.payment | number: '1.2-2'}}</label><br>
                <input type="text" name="payment" [(ngModel)]="currentLiability.payment"><br><br> 
                <label><strong>Term: </strong>{{currentLiability.term}}</label><br>
                <input type="text" name="term" [(ngModel)]="currentLiability.term"><br><br>  
                <label><strong>Value: </strong>{{currentLiability.value | number: '1.2-2'}}</label><br>
                <input type="text" name="value" [(ngModel)]="currentLiability.value"><br><br> 
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button type="submit" fill="clear" color="secondary" size="large">Edit</ion-button>
          <ion-button routerLink="/home/liabilities" fill="clear"
            color="secondary" size="large">Cancel</ion-button>
        </form>
      </ion-col>
      <ion-col>
        <h1>Type</h1>
        <ul>
          <li> Type: 1 | Category: Checking</li>
          <li> Type: 2 | Category: Currency</li>
          <li> Type: 3 | Category: Savings</li>
          <li> Type: 4 | Category: CDs</li>
          <li> Type: 5 | Category: Health and Medical Savings</li>
          <li> Type: 6 | Category: Life Insurance</li>
          <li> Type: 7 | Category: Annuities</li>
          <li> Type: 8 | Category: Investments</li>
          <li> Type: 9 | Category: IRAs</li>
          <li> Type: 10 | Category: Roth IRA</li>
          <li> Type: 11 | Category: Employer Retirement Plans</li>
          <li> Type: 12 | Category: Bullion</li>
          <li> Type: 13 | Category: Primary Residence</li>
          <li> Type: 14 | Category: Secondary Residence</li>
          <li> Type: 15 | Category: Real Estate</li>
          <li> Type: 16 | Category: Business</li>
          <li> Type: 17 | Category: Trust</li>
          <li> Type: 18 | Category: Vehicles</li>
          <li> Type: 19 | Category: Personal Property</li>
          <li> Type: 20 | Category: Credit Cards</li>
          <li> Type: 21 | Category: Student Loans</li>
          <li> Type: 22 | Category: Other</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
