<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <label>First name: {{presentUser.firstName}}</label><br>
    <input type="text" name="firstName" [(ngModel)]="presentUser.firstName"><br>
    <label>Last name: {{presentUser.lastName}}</label><br>
    <input type="text" name="lastName" [(ngModel)]="presentUser.lastName"><br>
    <label>User name: {{presentUser.username}}</label><br>
    <textarea type="text" name="userName" [(ngModel)]="presentUser.username"></textarea><br>
    <!-- <label>Passowrd: {{presentUser.password}}</label><br>

    <input type="text" name="password" [(ngModel)]="presentUser.password"><br> -->

    <input type="text" name="userId" [(ngModel)]="presentUser.id" hidden><br>

    <ion-button type="submit" fill="clear" color="secondary">Edit</ion-button>

    <ion-button [routerLink]="['/fsi-profile', presentUser.username]" fill="clear"
      color="secondary">Cancel</ion-button>
  </form>

</ion-content>
