<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit life policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <label><strong>Policy Name: </strong>{{currentLife.policyName}}</label><br>
          <input type="text" name="policyName" [(ngModel)]="currentLife.policyName"><br><br>
          <label><strong>Policy type: </strong>{{currentLife.policyType}}</label><br>
          <input type="text" name="policyType" [(ngModel)]="currentLife.policyType"><br>
          <label><strong>Owner: </strong>{{currentLife.owner}}</label><br>
          <input type="text" name="owner" [(ngModel)]="currentLife.owner"><br>
          <label><strong>Insured: </strong>{{currentLife.insured}}</label><br>
          <input type="text" name="insured" [(ngModel)]="currentLife.insured"><br>
          <label><strong>Premium: </strong>{{currentLife.premium | number: '1.2-2'}}</label><br>          
          <input type="text" name="premium" [(ngModel)]="currentLife.premium"><br>

        </ion-col>
        <ion-col>
          <label><strong>Cash Value: </strong>{{currentLife.cashValue | number: '1.2-2'}}</label><br>
          <input type="text" name="cashValue" [(ngModel)]="currentLife.cashValue"><br>
          <label><strong>Death Benefit Client 1: </strong>{{currentLife.deathBenefitOne | number: '1.2-2'}}</label><br>
          <input type="text" name="deathBenefitOne" [(ngModel)]="currentLife.deathBenefitOne"><br>
          <label><strong>Death Benefit Client 2: </strong>{{currentLife.deathBenefitTwo | number: '1.2-2'}}</label><br>
          <input type="text" name="deathBenefitTwo" [(ngModel)]="currentLife.deathBenefitTwo"><br>
          <label><strong>Riders: </strong>{{currentLife.riders | number: '1.2-2'}}</label><br>
          <input type="text" name="riders" [(ngModel)]="currentLife.riders"><br>
          <label><strong>Rider benefit: </strong>{{currentLife.ridersBenefit | number: '1.2-2'}}</label><br>
          <input type="text" name="ridersBenefit" [(ngModel)]="currentLife.ridersBenefit"><br>
          <label><strong>% to Savings: </strong>{{currentLife.percentageToSavings | number: '1.2-2'}}</label><br>
          <input type="text" name="percentageToSavings" [(ngModel)]="currentLife.percentageToSavings"><br>
        </ion-col>
      </ion-row>
    </ion-grid>




    <ion-button type="submit" fill="clear" color="secondary" size="large">Edit</ion-button>
    <ion-button routerLink="/home/life" fill="clear" color="secondary" size="large">Cancel</ion-button>
  </form>
</ion-content>