<ion-content [fullscreen]="true">
  <ion-header id="printerBtn">
    <ion-toolbar>
      <ion-button [routerLink]="['/fsi-profile', username]" fill="clear" color="secondary" size="large">Home</ion-button>
      <ion-button  (click)="openForm()" fill="clear" color="secondary" slot="end" size="large">Add a note</ion-button>

    </ion-toolbar>
  </ion-header>
  <div id="printableSection">

  <div *ngFor="let n of userNotes" style="display: inline-flex;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{n.subject}}</ion-card-title>
        <ion-card-subtitle>{{n.createdAt | date: 'MM/dd/yyyy h:mm a' : 'America/Chicago'}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{n.description}}
      </ion-card-content>
      <ion-button id="printerBtn" fill="clear" color="secondary" [routerLink]="['/client-edit-note', n.notesId]">
        Edit note
      </ion-button>
      <ion-button id="printerBtn" (click)="deleteNote(n.notesId!)" fill="clear" color="danger">
        Delete note
      </ion-button>
    </ion-card>
  </div>

  <!-- Adding notes--> 
  <div *ngIf="isFormVisible" id="inputForm">
    <form #form="ngForm" (ngSubmit)="createNote()">
      <label>Subject</label><br>
      <input type="text" value="Subject" name="subject" [(ngModel)]="newNote.subject"><br>
      <label>Description</label><br>
      <input type="text" value="Description" name="description" [(ngModel)]="newNote.description"><br>

      <input hidden="true" type="text" name="username" [(ngModel)]="newNote.username">
      <input hidden="true" type="text" name="notesId" [(ngModel)]="newNote.notesId">

      <ion-button type="submit" fill="clear" color="secondary">
        Create note
      </ion-button>
      <ion-button (click)="closeForm()" fill="clear" color="secondary">Cancel</ion-button>
    </form>
  </div>
  </div>
  <ion-button (click)="printNotes()" id="printerBtn" color="secondary" style="padding: 10px;">Print</ion-button>

</ion-content>
