<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="secondary">Editing demographics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" style="margin-top: 40px;" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Family</h1>
          <label id="label">Spouse/Significant Other: {{currentDemographics.spouse}}</label><br>
          <input id="input" type="text" name="spouse" [(ngModel)]="currentDemographics.spouse"><br><br>
          <label id="label">Child 1: {{currentDemographics.c1}}</label><br>
          <input id="input" type="text" name="c1" [(ngModel)]="currentDemographics.c1"><br><br>
          <label id="label">Child 2: {{currentDemographics.c2}}</label><br>
          <input id="input" type="text" name="c2" [(ngModel)]="currentDemographics.c2"><br><br>
          <label id="label">Child 3: {{currentDemographics.c3}}</label><br>
          <input id="input" type="text" name="c3" [(ngModel)]="currentDemographics.c3"><br><br>
          <label id="label">Child 4: {{currentDemographics.c4}}</label><br>
          <input id="input" type="text" name="c4" [(ngModel)]="currentDemographics.c4"><br><br>
        </ion-col>
        <ion-col>
          <h1>Personal Info</h1>
          <label id="label">Gender: {{currentDemographics.gender}}</label><br>
          <input id="input" type="text" name="gender" [(ngModel)]="currentDemographics.gender"><br><br>
          <label id="label">Marital status: {{currentDemographics.maritalStatus}}</label><br>
          <input id="input" type="text" name="maritalStatus" [(ngModel)]="currentDemographics.maritalStatus"><br><br>
          <label id="label">Birthday: {{currentDemographics.birthday}}</label><br>
          <input id="input" type="text" name="birthday" [(ngModel)]="currentDemographics.birthday"><br>
        </ion-col>
        <ion-col>
          <h1>Identification</h1>
          <label id="label">Social Security: {{currentDemographics.socialSecurity}}</label><br>
          <input id="input" type="text" name="socialSecurity" [(ngModel)]="currentDemographics.socialSecurity"><br><br>
          <label id="label">Driver's License: {{currentDemographics.driversLicense}}</label><br>
          <input id="input" type="text" name="driversLicense" [(ngModel)]="currentDemographics.driversLicense"><br><br>
          <label id="label">Issue date: {{currentDemographics.issueDate}}</label><br>
          <input id="input" type="text" name="issueDate" [(ngModel)]="currentDemographics.issueDate"><br><br>
          <label id="label">Expiration Date: {{currentDemographics.expirationDate}}</label><br>
          <input id="input" type="text" name="expirationDate" [(ngModel)]="currentDemographics.expirationDate"><br><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1>Work</h1>
          <label id="label">Employer: {{currentDemographics.employer}}</label><br>
          <input id="input" type="text" name="employer" [(ngModel)]="currentDemographics.employer"><br><br>
          <label id="label">Occupation: {{currentDemographics.occupation}}</label><br>
          <input id="input" type="text" name="occupation" [(ngModel)]="currentDemographics.occupation"><br><br>
          <label id="label">Work Phone: {{currentDemographics.workPhone}}</label><br>
          <input id="input" type="text" name="workPhone" [(ngModel)]="currentDemographics.workPhone"><br><br>
        </ion-col>
        <ion-col>
          <h1>Contact info</h1>
          <label id="label">Address: {{currentDemographics.address}}</label><br>
          <input id="input" type="text" name="address" [(ngModel)]="currentDemographics.address"><br><br>
          <label id="label">Phone number: {{currentDemographics.phoneNumber}}</label><br>
          <input id="input" type="text" name="phoneNumber" [(ngModel)]="currentDemographics.phoneNumber"><br><br>
          <label id="label">Email: {{currentDemographics.email}}</label><br>
          <input id="input" type="text" name="email" [(ngModel)]="currentDemographics.email"><br>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button type="submit" fill="clear" color="secondary">Edit</ion-button>
    <ion-button [routerLink]="['/demographics', currentDemographics.username]" fill="clear"
      color="secondary">Cancel</ion-button>
  </form>
</ion-content>