<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit insurance policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <label><strong>Company name: </strong>{{currentPC.companyName}}</label><br>
    <input type="text" name="companyName" [(ngModel)]="currentPC.companyName"><br><br>
    <label><strong>Policy type: </strong>{{currentPC.policyType}}</label><br>
    <input type="text" name="policyType" [(ngModel)]="currentPC.policyType"><br>
    <label><strong>Premium: </strong>{{currentPC.premium}}</label><br>
    <input type="text" name="premium" [(ngModel)]="currentPC.premium"><br>
    <label><strong>Deductible: </strong>{{currentPC.deductible}}</label><br>
    <input type="text" name="deductible" [(ngModel)]="currentPC.deductible"><br>
    <label><strong>Expiration date: </strong>{{currentPC.expirationDate}}</label><br>
    <input type="text" name="expirationDate" [(ngModel)]="currentPC.expirationDate"><br>
    <label><strong>Liability limit: </strong>{{currentPC.liabilityLimit}}</label><br>
    <input type="text" name="liabilityLimit" [(ngModel)]="currentPC.liabilityLimit"><br>


    <ion-button type="submit" fill="clear" color="secondary" size="large">Edit</ion-button>
    <ion-button routerLink="/home/pc/" fill="clear"
      color="secondary" size="large">Cancel</ion-button>
  </form>
</ion-content>
