<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Requesting update</ion-title>
    <ion-button fill="clear" color="secondary" slot="end" routerLink="/home">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <h3>Please include the number of the account that you would like updated</h3>
  </div>
  <div style="text-align: center;">
    <form class="contact-form" (submit)="sendEmail($event)">
    <label>Name</label><br>
    <input type="text" name="user_name"><br>
    <label>Email</label><br>
    <input type="email" name="user_email"><br>
    <label>Message</label><br>
    <textarea name="message"></textarea><br>
    <input type="submit" value="Send">
  </form>
  </div>
  
</ion-content>
