*{
    font-family: Felix Titling;
  }
ion-card-content, ion-card-title{
    text-align: center;
}

p{
    font-size: 3em;
}

ion-card-title{
    font-size: 2em;
}

#insuredG{
    color: purple;
}

#insuredI{
    color: green;
}

#shortTerm{
    color: orange;
}

#speculative{
    color: orange;
}