*{
    font-family: Felix Titling;
  }
#headerTool{
    --background: #022562;
    --color: white;
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-button{
    --color: white;
}