<ion-header [translucent]="true">
  <ion-toolbar id="headerTool">
    <ion-title>Search FSI Clients</ion-title>
    <ion-button routerLink="/home" slot="end" fill="clear">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar show-clear-button="focus" value="Search Clients" style="margin: 10px; width: auto;" [(ngModel)]="searchStr" (search)="searchUser()"></ion-searchbar>
  <ion-list lines="full">
    <ion-item *ngFor="let u of user">
      <ion-button routerLink="/fsi-profile/{{u.userName}}" fill="clear" color="secondary" size="large">{{u.firstName}} {{u.lastName}}</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
