<ion-header [translucent]="true">
  <ion-toolbar id="headerTool">
    <ion-title>Search FSI Clients</ion-title>
    <ion-button routerLink="/home" slot="end" fill="clear">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar show-clear-button="focus" value="Search Clients" style="margin: 10px; width: auto;"
    [(ngModel)]="searchStr" (search)="searchUser()"></ion-searchbar>
    <div *ngFor="let u of users | filter: searchStr" style="display: inline-block;">
      <ion-card style="max-width: 300px;">
        <img alt="Client profile pic" src="http://localhost:5247/{{u.profilePicture}}"
          style=" height:300px; width: 100%; object-fit: cover;" [routerLink]="['/fsi-profile', u.userName]">
        <ion-card-header>
          <ion-card-title>{{u.firstName}} {{u.lastName}}</ion-card-title>
          <ion-card-subtitle>{{u.userName}}</ion-card-subtitle>
        </ion-card-header>
        <ion-button fill="clear" color="secondary" [routerLink]="['/edit-user', u.userId]">Edit user</ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteUser(u.userName!)">Delete user</ion-button>

      </ion-card>
    </div>
</ion-content>