<ion-header [translucent]="true">
  <ion-toolbar id="headerTool">
    <ion-title>Search FSI Clients</ion-title>
    <ion-button routerLink="/home" slot="end" fill="clear">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar show-clear-button="focus" value="Search Clients" style="margin: 10px; width: auto;"
    [(ngModel)]="searchStr" (search)="searchUser()"></ion-searchbar>
  <!-- <ion-button (click)="getUsers()" fill="clear" color="secondary">Get All Users</ion-button> -->
  <ion-list lines="full">
    <ion-item *ngFor="let u of user">
      <ion-card >
        <img alt="Client profile pic" src="http://localhost:5247/{{u.profilePicture}}"
          style="object-fit: contain; height:300px;" [routerLink]="['/fsi-profile', u.userName]">
        <ion-card-header>
          <ion-card-title>{{u.firstName}} {{u.lastName}}</ion-card-title>
          <ion-card-subtitle>{{u.userName}}</ion-card-subtitle>
        </ion-card-header>
        <ion-button fill="clear" color="secondary" [routerLink]="['/edit-user', u.userId]">Edit user</ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteUser(u.userName!)">Delete user</ion-button>

      </ion-card>

      <!-- <ion-button [routerLink]="['/fsi-profile', u.userName]" fill="clear" color="secondary"
        size="large">{{u.firstName}} {{u.lastName}}</ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteUser(u.userName!)">Delete User</ion-button> -->
    </ion-item>
  </ion-list>
  <!-- <div >
     <ion-card *ngFor="let u of allUsers" style="display: inline-flex;" [routerLink]="['/fsi-profile', u.userName]"> 
    <img alt="Client profile pic" src="http://localhost:5247/{{u.profilePicture}}"style="object-fit: contain; height:300px;" />
    <ion-card-header>
      <ion-card-title>{{u.firstName}} {{u.lastName}}</ion-card-title>
      <ion-card-subtitle>{{u.userName}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </div> -->
</ion-content>