<ion-header [translucent]="true">
  <ion-toolbar id="headerTool">
    <ion-button routerLink="/home" slot="end" fill="clear" id="home" size="large">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Demographics</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</h1>
  <ion-list [inset]="true" *ngFor="let d of userDemographics">
    <ion-item>
      <ion-label><strong> Spouse/Significant other:</strong> {{d.spouse}} | {{d.spouseEmail}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Children:</strong> {{d.c1}} | {{d.c2}} | {{d.c3}} | {{d.c4}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Address:</strong> {{d.address}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> DOB:</strong> {{d.birthday}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Driver's License:</strong> {{d.driversLicense}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click)="showElement()" color="dark" *ngIf="isVisible">Hide social</ion-button>
      <ion-button (click)="showElement()" color="dark" *ngIf="!isVisible">Show social</ion-button>
      <ion-label *ngIf="isVisible"><strong>Social: </strong> {{d.socialSecurity}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Driver's License issue date:</strong> {{d.issueDate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Driver's License expiration date:</strong> {{d.expirationDate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Gender:</strong> {{d.gender}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Martial Status:</strong> {{d.maritalStatus}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Employer:</strong> {{d.employer}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Occupation:</strong> {{d.occupation}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Work Phone:</strong> {{d.workPhone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Personal phone:</strong> {{d.phoneNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong> Personal email:</strong> {{d.email}}</ion-label>
    </ion-item>
    <ion-button *ngIf="none" [routerLink]="['/edit-demographics', d.demographicsId]" fill="clear" color="secondary">Edit
      demographics</ion-button>
  </ion-list>
  <!--Adding demographics-->
  <ion-button (click)="openForm()" *ngIf="!input" fill="clear" color="secondary">Enter in demographic</ion-button>
  <div *ngIf="isFormVisible" id="inputForm">
    <form #form="ngForm" (ngSubmit)="createDemographic()">
      <input hidden="true" type="text" name="username" [(ngModel)]="presentUser.username">
      <input hidden="true" type="text" name="demographicsId" [(ngModel)]="demographic.demographicsId">
      <input hidden="true" type="text" name="userId" [(ngModel)]="demographic.userId">
      <input name="spouse" placeholder="Enter spouse, if applicable" [(ngModel)]="demographic.spouse">
      <input name="spouse" placeholder="Enter spouse email, if applicable" [(ngModel)]="demographic.spouseEmail">
      <input name="c1" placeholder="Enter child, if applicable" [(ngModel)]="demographic.c1">
      <input name="c2" placeholder="Enter child, if applicable" [(ngModel)]="demographic.c2">
      <input name="c3" placeholder="Enter child, if applicable" [(ngModel)]="demographic.c3">
      <input name="c4" placeholder="Enter child, if applicable" [(ngModel)]="demographic.c4">
      <input name="socialSecurity" placeholder="Enter social" [(ngModel)]="demographic.socialSecurity">
      <input name="driversLicense" placeholder="Enter drivers license" [(ngModel)]="demographic.driversLicense">
      <input name="issueDate" placeholder="Drivers license issue date" [(ngModel)]="demographic.issueDate">
      <input name="expirationDate" placeholder="Drivers license expiration date"
        [(ngModel)]="demographic.expirationDate">
      <input name="gender" placeholder="Enter gender" [(ngModel)]="demographic.gender">
      <input name="maritalStatus" placeholder="Enter marital status" [(ngModel)]="demographic.maritalStatus">
      <input name="employer" placeholder="Enter employer" [(ngModel)]="demographic.employer">
      <input name="occupation" placeholder="Enter occupation" [(ngModel)]="demographic.occupation">
      <input name="workPhone" placeholder="Enter work phone" [(ngModel)]="demographic.workPhone">
      <input name="address" placeholder="Enter address" [(ngModel)]="demographic.address">
      <input name="phoneNumber" placeholder="Enter phone number" [(ngModel)]="demographic.phoneNumber">
      <input name="email" placeholder="Enter email" [(ngModel)]="demographic.email">
      <input name="birthday" placeholder="Enter birthday" [(ngModel)]="demographic.birthday">
      <ion-button type="submit" fill="clear" color="secondary">
        Create demographics
      </ion-button>
      <ion-button (click)="closeForm()" fill="clear" color="secondary">Cancel</ion-button>
    </form>
  </div>

</ion-content>